---
layout: default
---

<h1 class="blg-wrap__header">Дописи</h1>

<div class="blg-content">
    <div class="blg-updates">
        <h2 class="blg-updates__header">
            Оновлення
        </h2>
        {% for post in site.categories.update %}
        <div class='blg-updates__item'>
            <a class="blg-updates__link"
               href="{{ post.url }}">
                {{ post.title }}
            </a>
        </div>
        {% endfor %}
    </div>

    <h2 class="blg-content__header">
        КПІ
    </h2>
    {% assign semesters = site.data.semesters | sort: 'title' | reverse %}
    {% for semester in semesters %}
    <h3 class="blg-wrap__header">{{semester.title}}</h3>
    <ul class="blg-semester">
        {% for course in semester.courses %}
        <li class="blg-course">
            <h4 class="blg-course__title">
                {{ course.title }}
            </h4>
            <div class='blg-course__info'>
                {% if course.teacher %}
                <span class='blg-course__lecturer'>
                    Лектор: {{ course.teacher }}
                </span>
                {% endif %}
                {% if course.assistant %}
                <span class='blg-course__assistant'>
                    Практик: {{ course.assistant }}
                </span>
                {% endif %}
            </div>
            <ul>
                {% assign posts = (site.categories[course.category] | reverse)
                %}
                {% for post in posts %}
                <li>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>

<div class="blg-subscribe">
    <p class="blg-subscribe__propose">
        Підписатися на
        <a class="blg-subscribe__link"
           href="{{ "/feed.xml" | prepend: site.baseurl }}">
            оновлення RSS
        </a>
    </p>
</div>

