---
layout: default
---

<div class="home">

    <h1 class="page-heading">Дописи</h1>

    <div class="contents">
        <h2>Оновлення</h2>
        {% for post in site.categories.update %}
        <div class='updates'>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        {% endfor %}

        <h2>КПІ</h2>
        {% assign semesters = site.data.semesters | sort: 'title' | reverse %}
        {% for semester in semesters %}
        <h3 class="page-heading">{{semester.title}}</h3>
        <ul class="subject-list">
            {% for course in semester.courses %}
            <li>
                <h4>{{ course.title }}</h4>
                <div class='course-info'>
                    {% if course.teacher %}
                    <span class='lecturer-name'>Лектор: {{ course.teacher }}</span>
                    {% endif %}
                    {% if course.assistant %}
                    <span class='assistant-name'>Практик: {{ course.assistant }}</span>
                    {% endif %}
                </div>
                <ul>
                {% assign posts = (site.categories[course.category] | reverse) %}
                {% for post in posts %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

    <p class="rss-subscribe">Підписатися на <a href="{{ "/feed.xml" | prepend: site.baseurl }}">оновлення RSS</a></p>

</div>
