---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  <div class="contents">
    {% for collection in site.collections %}
    <div>
      <h1>{{collection.label}}</h1>
      <ul> 
        {% for post in site[collection.label] %}
          <li><a href="{{post.url}}">{{post.title}}</a></li>
        {%endfor%}
      </ul>
    </div>
  {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
