<footer class="blg-footer">

  <div class="blg-wrap">

    <div class="blg-footer-wrap">
      <div class="blg-footer-column blg-footer-column_left">
        <ul class="blg-contact-list">
          <li>{{ site.title }}</li>
          <li>{{ site.description }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="blg-footer-column blg-footer-column_middle">
        <ul class="blg-contact-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="blg-footer-column blg-footer-column_right">
        <p>Знайшли помилку? Надішліть виправлення <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/pulls">пул-реквестом</a>.</p>
      </div>
    </div>

  </div>

</footer>
