/* Custom styles */
.blg-nav-posts__post {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.blg-nav-posts__post_prev {
  @media all and (min-width: $hd-width) {
    width: 40%;
    float: left;
    text-align: left;
  }
}

.blg-nav-posts__post_next {
  @media all and (min-width: $hd-width) {
    width: 40%;
    float: right;
    text-align: right;
  }
}

.blg-nav-posts {
  overflow: hidden;

  ::after {
    clear: both;
  }
}

.blg-nav-posts:first-child {
  border-bottom: 1px solid $grey-color-light;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.blg-nav-posts:last-child {
  border-top: 1px solid $grey-color-light;
  margin-top: 10px;
  padding-top: 10px;
}

.blg-updates {
  margin-bottom: 15px;
}

.blg-course {
  margin-bottom: 15px;
}

.blg-course__info {
  padding-left: 40px;
  margin-bottom: 10px;
}

.blg-course__lecturer, .blg-course__assistant {
  font-size: 12px;
  color: $mid-grey;
}

.blg-course__title {
  margin-bottom: 0;
}

.blg-post__content {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  table {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Post formatting fixes */
h2 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 0;
}
